Source: esplash-data
Section: gui
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@openinkpot.org>
Uploaders: Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>= 7), mk-rawpic, lzma
XCS-Cross-Host-Build-Depends: debhelper (>= 7), mk-rawpic, lzma
Standards-Version: 3.8.0

Package: esplash-sysvinit
Architecture: all
Depends: busybox (>= 1:1.12.0-8)
Description: Bootsplash support for sysvinit
 This package provides hooks for sysvinit to enable drawing boot splash.

Package: esplash-data-v3
Architecture: all
Depends: esplash-sysvinit
Conflicts: esplash-data-n516, esplash-data-azbooka-n516
Description: OpenInkpot bootsplash for V3
 This package provides OpenInkpot bootsplash picture and config for Hanlin V3.

Package: esplash-data-n516
Architecture: all
Depends: esplash-sysvinit
Conflicts: esplash-data-v3, esplash-data-azbooka-n516
Description: OpenInkpot bootsplash for N516
 This package provides OpenInkpot bootsplash picture and config for Hanvon N516.

Package: esplash-data-azbooka-n516
Architecture: all
Depends: esplash-sysvinit
Conflicts: esplash-data-v3, esplash-data-n516
Description: Azbooka bootsplash for N516
 This package provides Azbooka bootsplash picture and config for Hanvon N516.

Package: esplash-data-eb600
Architecture: all
Depends: esplash-sysvinit
Conflicts: esplash-data-n516, esplash-data-azbooka-n516, esplash-data-v3
Description: OpenInkpot bootsplash for EB600
 This package provides OpenInkpot bootsplash picture and config for Netronix EB600.

Package: esplash-data-prs505
Architecture: all
Depends: esplash-sysvinit
Conflicts: esplash-data-n516, esplash-data-azbooka-n516, esplash-data-v3, esplash-data-eb600
Description: OpenInkpot bootsplash for PRS505
 This package provides OpenInkpot bootsplash picture and config for Sony PRS505.
