#!/usr/bin/make -f

build-arch:
build-indep:

build: build-arch build-indep

clean:
	dh_testdir
	dh_testroot
	dh_clean

DATADIR=/usr/share/esplash-data
FIFODIR=/var/lib/esplash

install: build-indep
	dh_testdir
	dh_testroot
	dh_installdirs

	mkdir -p $(CURDIR)/debian/esplash-sysvinit/sbin
	install -m 0644 splash-functions $(CURDIR)/debian/esplash-sysvinit/sbin

	mkdir -p $(CURDIR)/debian/esplash-sysvinit/etc/default

	mkdir -p $(CURDIR)/debian/esplash-sysvinit$(FIFODIR)
	mkfifo $(CURDIR)/debian/esplash-sysvinit$(FIFODIR)/esplash_fifo

# Dirs
	mkdir -p $(CURDIR)/debian/esplash-data-v3$(DATADIR)
	mkdir -p $(CURDIR)/debian/esplash-data-eb600$(DATADIR)
	mkdir -p $(CURDIR)/debian/esplash-data-n516$(DATADIR)
	mkdir -p $(CURDIR)/debian/esplash-data-azbooka-n516$(DATADIR)

# Device definitions (FB address)
	install -T -m 0644 device-v3 $(CURDIR)/debian/esplash-data-v3$(DATADIR)/device
	install -T -m 0644 device-v3 $(CURDIR)/debian/esplash-data-eb600$(DATADIR)/device
	install -T -m 0644 device-n516 $(CURDIR)/debian/esplash-data-n516$(DATADIR)/device
	install -T -m 0644 device-n516 $(CURDIR)/debian/esplash-data-azbooka-n516$(DATADIR)/device

# Startup configs
	install -T -m 0644 v3.cfg $(CURDIR)/debian/esplash-data-v3$(DATADIR)/startup
	install -T -m 0644 v3.cfg $(CURDIR)/debian/esplash-data-eb600$(DATADIR)/startup
	install -T -m 0644 n516.cfg $(CURDIR)/debian/esplash-data-n516$(DATADIR)/startup
	install -T -m 0644 azbooka-n516.cfg $(CURDIR)/debian/esplash-data-azbooka-n516$(DATADIR)/startup

# Shutdown configs
	install -T -m 0644 v3-shutdown.cfg $(CURDIR)/debian/esplash-data-v3$(DATADIR)/shutdown
	install -T -m 0644 v3-shutdown.cfg $(CURDIR)/debian/esplash-data-eb600$(DATADIR)/shutdown
	install -T -m 0644 n516-shutdown.cfg $(CURDIR)/debian/esplash-data-n516$(DATADIR)/shutdown
	install -T -m 0644 azbooka-n516-shutdown.cfg $(CURDIR)/debian/esplash-data-azbooka-n516$(DATADIR)/shutdown

# Pictures
	install -m 0644 oi-bootlogo.lzma $(CURDIR)/debian/esplash-data-n516$(DATADIR)
	install -m 0644 oi-bootlogo.lzma $(CURDIR)/debian/esplash-data-v3$(DATADIR)
	install -m 0644 oi-bootlogo.lzma $(CURDIR)/debian/esplash-data-eb600$(DATADIR)

	mk-rawpic -d3 azbooka-splash.png $(CURDIR)/debian/esplash-data-azbooka-n516$(DATADIR)/azbooka
	lzma $(CURDIR)/debian/esplash-data-azbooka-n516$(DATADIR)/azbooka

	mk-rawpic -d3 shutdown.png $(CURDIR)/debian/esplash-data-azbooka-n516$(DATADIR)/azbooka-shutdown
	lzma $(CURDIR)/debian/esplash-data-azbooka-n516$(DATADIR)/azbooka-shutdown

	mk-rawpic -d3 shutdown.png $(CURDIR)/debian/esplash-data-n516$(DATADIR)/n516-shutdown
	lzma $(CURDIR)/debian/esplash-data-n516$(DATADIR)/n516-shutdown

	mk-rawpic -d2 shutdown.png $(CURDIR)/debian/esplash-data-v3$(DATADIR)/v3-shutdown
	lzma $(CURDIR)/debian/esplash-data-v3$(DATADIR)/v3-shutdown

	mk-rawpic -d2 shutdown.png $(CURDIR)/debian/esplash-data-eb600$(DATADIR)/eb600-shutdown
	lzma $(CURDIR)/debian/esplash-data-eb600$(DATADIR)/eb600-shutdown

binary-arch:

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installinit -pesplash-sysvinit --name=fb-clean --no-start -r -- stop 01 0 .
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
